// Fonts
$quicksand: 'Quicksand', sans-serif;

// colors
$orange: #ffa500;
$green: #57b846;
$success-text: #4caf50;
$red: #ea4355;
$error-text: #F44336;
$blue: #1da1f2;
$off-black: #333;
$white: #fff;
$off-white: #f8f8f8;